In [64]:
import pandas as pd
from datetime import datetime
import numpy as np
from sqlalchemy import create_engine

def read():
    dt = None
    price = None
    size = None
    i = 0
    engine = create_engine('sqlite:///tick.db', echo=True)
    #connex = engine.connect()
    for chunk in pd.read_csv("tick.csv", chunksize=10000, header=None):
        dt = chunk.iloc[:,:1].applymap(datetime.fromtimestamp)
        price = chunk.iloc[:,1:2]
        size = chunk.iloc[:,2:3]
        con = pd.concat([dt, price, size], axis=1)
        con.columns = ['datetime','price','size']
        con.to_sql('tick', engine, if_exists="replace", index=False)
        break
    return engine
engine = read()

2019-01-30 21:19:55,761 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-30 21:19:55,763 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,767 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-30 21:19:55,767 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,771 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("tick")
2019-01-30 21:19:55,772 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,778 INFO sqlalchemy.engine.base.Engine
CREATE TABLE tick (
	datetime DATETIME,
	price FLOAT,
	size FLOAT
)


2019-01-30 21:19:55,779 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,783 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-30 21:19:55,788 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-30 21:19:55,893 INFO sqlalchemy.engine.base.Engine INSERT INTO tick (datetime, price, size) VALUES (?, ?, ?)
2019-01-30 21:19:55,894 INFO sqlalchemy.engine.base.Engine (('2017-07-04 17:01:38.000000', 296127.0, 0.01), ('2017-07-04 17:01:38.000000', 296016.0, 0.6), ('2017-07-04 17:01:39.000000', 296016.0, 0.0186), ('2017-07-04 17:01:42.000000', 296550.0, 0.05), ('2017-07-04 17:01:50.000000', 296558.0, 0.05), ('2017-07-04 17:01:59.000000', 296539.0, 0.22919708), ('2017-07-04 17:01:59.000000', 296540.0, 0.20080292), ('2017-07-04 17:02:07.000000', 296539.0, 0.04583026)  ... displaying 10 of 10000 total bound parameter sets ...  ('2017-07-05 00:16:20.000000', 290564.0, 0.0369), ('2017-07-05 00:16:21.000000', 290564.0, 1.9231))
2019-01-30 21:19:55,935 INFO sqlalchemy.engine.base.Engine COMMIT

In [65]:
d = pd.read_sql('select * from tick',engine)

2019-01-30 21:20:58,910 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("select * from tick")
2019-01-30 21:20:58,912 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:20:58,915 INFO sqlalchemy.engine.base.Engine select * from tick
2019-01-30 21:20:58,915 INFO sqlalchemy.engine.base.Engine ()

In [66]:
print(d)

                        datetime     price      size
0     2017-07-04 17:01:38.000000  296127.0  0.010000
1     2017-07-04 17:01:38.000000  296016.0  0.600000
2     2017-07-04 17:01:39.000000  296016.0  0.018600
3     2017-07-04 17:01:42.000000  296550.0  0.050000
4     2017-07-04 17:01:50.000000  296558.0  0.050000
5     2017-07-04 17:01:59.000000  296539.0  0.229197
6     2017-07-04 17:01:59.000000  296540.0  0.200803
7     2017-07-04 17:02:07.000000  296539.0  0.045830
8     2017-07-04 17:02:07.000000  296540.0  1.010000
9     2017-07-04 17:02:07.000000  296560.0  0.010000
10    2017-07-04 17:02:07.000000  296621.0  2.000000
11    2017-07-04 17:02:07.000000  296660.0  0.050000
12    2017-07-04 17:02:07.000000  296660.0  0.050000
13    2017-07-04 17:02:07.000000  296660.0  0.008900
14    2017-07-04 17:02:07.000000  296660.0  0.023647
15    2017-07-04 17:02:07.000000  296680.0  0.010000
16    2017-07-04 17:02:07.000000  296690.0  0.010000
17    2017-07-04 17:02:07.000000  296700.0  0.002000
18    2017-07-04 17:02:07.000000  296750.0  0.001409
19    2017-07-04 17:02:10.000000  296745.0  0.050000
20    2017-07-04 17:02:11.000000  296304.0  0.050000
21    2017-07-04 17:02:16.000000  296355.0  0.050000
22    2017-07-04 17:02:17.000000  296306.0  0.045000
23    2017-07-04 17:02:17.000000  296306.0  0.021956
24    2017-07-04 17:02:17.000000  296769.0  0.001685
25    2017-07-04 17:02:18.000000  296306.0  1.019900
26    2017-07-04 17:02:20.000000  296517.0  0.050000
27    2017-07-04 17:02:21.000000  296517.0  0.050000
28    2017-07-04 17:02:21.000000  296218.0  1.019900
29    2017-07-04 17:02:24.000000  296518.0  0.600000
...                          ...       ...       ...
9970  2017-07-05 00:15:54.000000  290720.0  1.010000
9971  2017-07-05 00:15:55.000000  290719.0  0.016500
9972  2017-07-05 00:15:57.000000  290719.0  0.016500
9973  2017-07-05 00:15:57.000000  290690.0  0.016500
9974  2017-07-05 00:15:57.000000  290514.0  1.283500
9975  2017-07-05 00:15:58.000000  290719.0  0.212000
9976  2017-07-05 00:15:58.000000  290719.0  0.009659
9977  2017-07-05 00:15:58.000000  290720.0  0.030341
9978  2017-07-05 00:15:59.000000  290720.0  0.133900
9979  2017-07-05 00:16:01.000000  290720.0  0.061800
9980  2017-07-05 00:16:01.000000  290720.0  0.010000
9981  2017-07-05 00:16:02.000000  290719.0  1.030100
9982  2017-07-05 00:16:04.000000  290719.0  0.047570
9983  2017-07-05 00:16:04.000000  290720.0  0.982530
9984  2017-07-05 00:16:05.000000  290720.0  1.823657
9985  2017-07-05 00:16:05.000000  290770.0  0.245443
9986  2017-07-05 00:16:06.000000  290770.0  0.230000
9987  2017-07-05 00:16:07.000000  290770.0  0.522400
9988  2017-07-05 00:16:07.000000  290770.0  0.230000
9989  2017-07-05 00:16:08.000000  290769.0  0.040000
9990  2017-07-05 00:16:09.000000  290769.0  0.175491
9991  2017-07-05 00:16:09.000000  290770.0  0.854609
9992  2017-07-05 00:16:10.000000  290770.0  1.010000
9993  2017-07-05 00:16:12.000000  290770.0  0.010000
9994  2017-07-05 00:16:12.000000  290770.0  1.030100
9995  2017-07-05 00:16:14.000000  290769.0  0.100000
9996  2017-07-05 00:16:16.000000  290690.0  0.166500
9997  2017-07-05 00:16:19.000000  290564.0  0.040000
9998  2017-07-05 00:16:20.000000  290564.0  0.036900
9999  2017-07-05 00:16:21.000000  290564.0  1.923100

[10000 rows x 3 columns]

In [12]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, DATETIME
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, schema, Table, and_
import datetime
Base = declarative_base()
from numba import jit


class Ticks(Base):
    __tablename__ = 'ticks'
    id = Column('id', Integer, primary_key=True, autoincrement=False)
    datetime = Column('datetime', DATETIME)
    price = Column('price', Float)
    size = Column('size', Float)

    def __repr__(self):
        return 'Ticks(%s, %s, %s, %s)' % (self.id, self.datetime, self.price, self.size)

    
class SqliteDBAdmin:
    @classmethod
    def initialize(cls):
        cls.engine = create_engine('sqlite:///tick.db', echo=False)

    @classmethod
    def create_table(cls):
        Base.metadata.create_all(bind=cls.engine, checkfirst=False)
        
    @classmethod
    def read_from_sqlite(cls,year_s, month_s, day_s, year_e, month_e, day_e):
        Session = sessionmaker(bind=cls.engine)
        session = Session()
        with cls.engine.connect() as conn:
            res = session.query(Ticks).filter(and_(Ticks.datetime <= datetime.date(year_e, month_e, day_e), 
                                                   Ticks.datetime >= datetime.date(year_s, month_s, day_s))).all()
            session.close()
            return res
        
SqliteDBAdmin.initialize()
#SqliteDBAdmin.create_table()
res = SqliteDBAdmin.read_from_sqlite(2018,10,1,2018,10,2)

In [13]:
price = []
size = []
datetime = []
for tick in res:
    datetime.append(tick.datetime)
    price.append(tick.price)
    size.append(tick.size)

In [32]:
maa ={}
kairi = {}

@jit
def calc_ma(term):
    sum = 0
    ma = []
    for i in range(term):
        ma.append(0)
        sum += price[i]
    for i in range(len(price) - term):
        sum = sum + price[i + term] - price[i]
        ma.append(sum / term)
    return ma

@jit
def calc_all_ma():
    for i in range(10):
        term = (i+1) * 100
        maa[str(term)] = calc_ma(term)

@jit
def calc_ma_kairi():
    for m in maa:
        k = []
        num_v = int(m)
        for i in range(num_v):
            k.append(0)
        for i in range(len(maa[m]) - num_v):
            k.append(price[i+num_v] / maa[m][i+num_v])
        kairi[m] = k

calc_all_ma()
calc_ma_kairi()

In [ ]:
kairi['100']

In [35]:
100/80 - 1

0.25