In [64]:
import pandas as pd
from datetime import datetime
import numpy as np
from sqlalchemy import create_engine

def read():
    dt = None
    price = None
    size = None
    i = 0
    engine = create_engine('sqlite:///tick.db', echo=True)
    #connex = engine.connect()
    for chunk in pd.read_csv("tick.csv", chunksize=10000, header=None):
        dt = chunk.iloc[:,:1].applymap(datetime.fromtimestamp)
        price = chunk.iloc[:,1:2]
        size = chunk.iloc[:,2:3]
        con = pd.concat([dt, price, size], axis=1)
        con.columns = ['datetime','price','size']
        con.to_sql('tick', engine, if_exists="replace", index=False)
        break
    return engine
engine = read()

2019-01-30 21:19:55,761 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-30 21:19:55,763 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,767 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-30 21:19:55,767 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,771 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("tick")
2019-01-30 21:19:55,772 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,778 INFO sqlalchemy.engine.base.Engine
CREATE TABLE tick (
	datetime DATETIME,
	price FLOAT,
	size FLOAT
)


2019-01-30 21:19:55,779 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:19:55,783 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-30 21:19:55,788 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-30 21:19:55,893 INFO sqlalchemy.engine.base.Engine INSERT INTO tick (datetime, price, size) VALUES (?, ?, ?)
2019-01-30 21:19:55,894 INFO sqlalchemy.engine.base.Engine (('2017-07-04 17:01:38.000000', 296127.0, 0.01), ('2017-07-04 17:01:38.000000', 296016.0, 0.6), ('2017-07-04 17:01:39.000000', 296016.0, 0.0186), ('2017-07-04 17:01:42.000000', 296550.0, 0.05), ('2017-07-04 17:01:50.000000', 296558.0, 0.05), ('2017-07-04 17:01:59.000000', 296539.0, 0.22919708), ('2017-07-04 17:01:59.000000', 296540.0, 0.20080292), ('2017-07-04 17:02:07.000000', 296539.0, 0.04583026)  ... displaying 10 of 10000 total bound parameter sets ...  ('2017-07-05 00:16:20.000000', 290564.0, 0.0369), ('2017-07-05 00:16:21.000000', 290564.0, 1.9231))
2019-01-30 21:19:55,935 INFO sqlalchemy.engine.base.Engine COMMIT

In [65]:
d = pd.read_sql('select * from tick',engine)

2019-01-30 21:20:58,910 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("select * from tick")
2019-01-30 21:20:58,912 INFO sqlalchemy.engine.base.Engine ()
2019-01-30 21:20:58,915 INFO sqlalchemy.engine.base.Engine select * from tick
2019-01-30 21:20:58,915 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
print(d)

In [12]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, DATETIME
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, schema, Table, and_
import datetime
Base = declarative_base()
from numba import jit


class Ticks(Base):
    __tablename__ = 'ticks'
    id = Column('id', Integer, primary_key=True, autoincrement=False)
    datetime = Column('datetime', DATETIME)
    price = Column('price', Float)
    size = Column('size', Float)

    def __repr__(self):
        return 'Ticks(%s, %s, %s, %s)' % (self.id, self.datetime, self.price, self.size)

    
class SqliteDBAdmin:
    @classmethod
    def initialize(cls):
        cls.engine = create_engine('sqlite:///tick.db', echo=False)

    @classmethod
    def create_table(cls):
        Base.metadata.create_all(bind=cls.engine, checkfirst=False)
        
    @classmethod
    def read_from_sqlite(cls,year_s, month_s, day_s, year_e, month_e, day_e):
        Session = sessionmaker(bind=cls.engine)
        session = Session()
        with cls.engine.connect() as conn:
            res = session.query(Ticks).filter(and_(Ticks.datetime <= datetime.date(year_e, month_e, day_e), 
                                                   Ticks.datetime >= datetime.date(year_s, month_s, day_s))).all()
            session.close()
            return res
        
SqliteDBAdmin.initialize()
#SqliteDBAdmin.create_table()
res = SqliteDBAdmin.read_from_sqlite(2019,1,10,2019,1,11)

In [ ]:
price = []
size = []
datetime = []
for tick in res:
    print(tick.datetime,tick.price,tick.size)

In [32]:
maa ={}
kairi = {}

@jit
def calc_ma(term):
    sum = 0
    ma = []
    for i in range(term):
        ma.append(0)
        sum += price[i]
    for i in range(len(price) - term):
        sum = sum + price[i + term] - price[i]
        ma.append(sum / term)
    return ma

@jit
def calc_all_ma():
    for i in range(10):
        term = (i+1) * 100
        maa[str(term)] = calc_ma(term)

@jit
def calc_ma_kairi():
    for m in maa:
        k = []
        num_v = int(m)
        for i in range(num_v):
            k.append(0)
        for i in range(len(maa[m]) - num_v):
            k.append(price[i+num_v] / maa[m][i+num_v])
        kairi[m] = k

calc_all_ma()
calc_ma_kairi()

In [ ]:
kairi['100']

In [35]:
100/80 - 1

0.25

In [7]:
class data:
    def __init__(self):
        self.val = 0

test = {}
d = data()
d.val = 1
test = dict(id=d)

In [9]:
print(test['id'].val)

1